<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>


<body>
  <h1>Hello there!</h1>
  <div class="form-container">
    <form action="/create-a-lis" method="post">
      <label for="inputText">Create a to-do list</label>
      <input type="text" id="inputText" name="inputText">
      <button type="submit" name="create">Create</button>
    </form>
  </div>
  <div class="lists-names">
    <h3>Available Lists</h3>
    <% if (lists.length !== 0) { %>
    <ul>
      <% lists.forEach(function (list) { %>
        <li>
          <form action="/goto" method="post">
            <button type="submit" name="listName" value="<%= list.name %>"><%= list.name %></button>
          </form>
          <form action="/del-list/<%= list._id %>" method="post">
            <button type="submit" name="delete">Delete</button>
          </form>
        </li>
      <% }); %>
    </ul>
    <% } else { %>
      <h3> Make some lists to begin </h3>
    <% } %>
  </div>
</body>

</html>